.footer {
  background-color: #11131F;
}
.footer__item-social {
  display: flex;
  gap: 16px;
}
.footer__social-media {
  max-width: 152px;
  max-height: 71px;
}
.footer__border {
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
}