.header {
  background-color: #1F212D;
}
.header__container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  display: flex;
  gap: 5px;
}
.header__title {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.header .menu-toggle {
  display: none;
}
@media screen and (max-width: 480px) {
  .header .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: transparent;
  }
  .header .menu-toggle svg {
    position: absolute;
    left: 85%;
  }
  .header .menu-toggle:hover, .header .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.header .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  z-index: 1000;
  background-color: #1F212D;
  padding: 35px;
  transform: translateX(200%);
  transition: transform 0.3s ease 0s;
}
.header .mobile-menu.is-open {
  transform: translateX(0);
}
.header__logom {
  display: flex;
  gap: 5px;
  margin-top: -30px;
}
.header__titlem {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.header__listm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  background-image: url("/src/images/elipse-menu.png");
  background-repeat: no-repeat;
  background-position: 25% -100%;
  background-size: cover;
}
.header__linkm {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.header__linkm:hover {
  color: #A1B5BA;
  cursor: pointer;
}
.header__underlinem {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  top: 10%;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .header__item {
    display: none;
  }
}
.header__link {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.header__link:hover {
  color: #A1B5BA;
  cursor: pointer;
}
.header__underline {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  bottom: 0;
}