.hero-home {
  background-color: #1F212D;
}
.hero-home__card {
  background-image: url("/src/images/Rectangle_deckstop@1x (2).png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 426px;
  height: 598px;
  position: relative;
  padding: 32px;
}
.hero-home__background {
  position: relative;
  top: 151px;
  left: 31px;
}
.hero-home__clients {
  position: absolute;
  top: 32px;
  left: 32px;
}
.hero-home__cltext {
  font-family: "DM+Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #11131F;
}
.hero-home__Yacht {
  position: absolute;
  top: 225px;
  left: 24px;
}
.hero-home__man {
  position: absolute;
  top: 32px;
  left: 305px;
}
.hero-home__informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  color: #11131F;
  position: absolute;
  top: 468px;
  left: 32px;
}
.hero-home__price {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 0;
}
.hero-home__information {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  padding-right: 30px;
  margin: 0;
}
dis .hero-home__cta-title {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 42%;
}
.hero-home__cta-ptitle {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-home__cta-text {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 40%;
}
.hero-home__cta-buttons {
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 14px 28px;
  width: 153px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.hero-home__cta-buttons:hover {
  background-color: #a6bbb9;
  cursor: pointer;
}