.introduction-home {
  background-color: #1F212D;
<<<<<<< Updated upstream
}
.introduction-home__title {
  font-family: "DM+Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
=======
>>>>>>> Stashed changes
}