.images-home {
  background-color: #1F212D;
}
.images-home__wrapper {
  padding-bottom: 50px;
}
.images-home__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.images-home__item:nth-child(3) button {
  width: 148px;
  height: 48px;
}
@media screen and (max-width: 768px) {
  .images-home__item:nth-child(2) img {
    margin-top: 0;
    margin-left: 230px;
  }
  .images-home__item:nth-child(2) button {
    margin-top: 340px;
    margin-left: -380px;
  }
  .images-home__item:nth-child(3) img {
    margin-left: 0;
    width: 436px;
    height: 352px;
  }
}
.images-home__img {
  padding: 20px;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}
.images-home__button {
  border-radius: 60px;
  padding: 14px 28px;
  width: 106px;
  height: 48px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 32px;
  left: 32px;
}
.images-home__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #11131F;
}