.images-home {
  background-color: #1F212D;
}
.images-home__container {
  width: 100%;
}
.images-home__wrapper {
  padding-bottom: 100px;
}
.images-home__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.images-home__item {
  position: relative;
}
.images-home__item:nth-child(1) {
  width: 612px;
}
.images-home__item:nth-child(2) {
  width: 390px;
  height: 378px;
  top: 150px;
}
.images-home__item:nth-child(3) {
  width: 326px;
  height: 292px;
  left: 330px;
}
@media screen and (max-width: 1120px) {
  .images-home__item:nth-child(1) {
    left: 110px;
  }
  .images-home__item:nth-child(2) {
    top: 0;
  }
  .images-home__item:nth-child(3) {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .images-home__item:nth-child(1) {
    left: 0;
  }
  .images-home__item:nth-child(2) {
    left: 200px;
  }
}
@media screen and (max-width: 660px) {
  .images-home__item:nth-child(1) {
    width: 326px;
  }
  .images-home__item:nth-child(2) {
    width: 326px;
    height: 292px;
    left: 0;
  }
}
.images-home__img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
}
.images-home__button {
  border-radius: 60px;
  padding: 14px 28px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  left: 32px;
  bottom: 32px;
}
.images-home__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #11131F;
}