@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700,500italic=swap");
/* Reset and base styles */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input:focus, input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
select:focus,
select:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  background-color: #11131F;
  font-weight: 700;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  gap: 24px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__item-social {
  display: flex;
  gap: 16px;
}
.footer__social-media {
  max-width: 152px;
  max-height: 71px;
}
.footer__info {
  line-height: 110%;
  text-transform: uppercase;
}
.footer__border {
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
}
.footer__information {
  line-height: 118%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
  display: flex;
  align-items: flex-end;
  max-width: 290px;
  max-height: 17px;
}
.footer__description-one {
  padding-right: 32px;
}
.header {
  background-color: #1F212D;
  margin-bottom: 100px;
}
.header__container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  gap: 5px;
}
.header__title {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.header__input, .header__label {
  display: none;
}
.header__input:checked ~ .header__label span {
  transform: rotate(-45deg);
}
.header__input:checked ~ .header__label span::before {
  top: 0;
  transform: rotate(0);
}
.header__input:checked ~ .header__label span::after {
  top: 0;
  transform: rotate(90deg);
}
.header__input:checked ~ .header__list {
  display: flex;
  justify-content: column;
}
@media screen and (max-width: 480px) {
  .header__label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 0;
  }
  .header__label span {
    top: 15px;
  }
  .header__label span, .header__label span::before, .header__label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .header__label span::before {
    top: -8px;
  }
  .header__label span::after {
    top: 8px;
  }
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .header__list {
    display: none;
  }
}
.header__link {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}