@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700,500italic=swap");
/* Reset and base styles */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input:focus, input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
select:focus,
select:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  background-color: #1F212D;
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer__underline {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  top: 0;
}
.footer__left {
  margin-bottom: 40px;
}
.footer__logo {
  display: flex;
  gap: 5px;
}
.footer__title {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer__nav {
  margin-bottom: 40px;
}
.footer__list {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer__list {
    align-items: start;
    margin-left: -30px;
  }
}
.footer__link {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer__link:hover {
  color: #a1b5ba;
  cursor: pointer;
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__right {
    align-items: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .footer__right {
    margin-top: -50px;
  }
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
}
.footer__listr {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .footer__listr {
    align-items: start;
    margin-left: -30px;
  }
}
.footer__itemr {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer__itemr:hover {
  border-color: linear-gradient(to right, #bec7c2, #a1b5ba);
}
.footer__links:hover .footer__rect {
  stroke: #A1B5BA;
}
.footer__links:hover .footer__path {
  fill: #A1B5BA;
}
.footer__rect {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer__rect:hover {
  stroke: #A1B5BA;
}
.footer__path {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer__path:hover {
  fill: #A1B5BA;
}
.footer__listb {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 40%;
  align-items: end;
  gap: 10px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .footer__listb {
    left: 30%;
  }
}
@media screen and (max-width: 480px) {
  .footer__listb {
    left: 10%;
  }
}
.footer__textb {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}

.header {
  background-color: #1F212D;
}
.header__container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  display: flex;
  gap: 5px;
}
.header__title {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.header .menu-toggle {
  display: none;
}
@media screen and (max-width: 480px) {
  .header .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: transparent;
  }
  .header .menu-toggle svg {
    position: absolute;
    left: 85%;
  }
  .header .menu-toggle:hover, .header .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.header .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  z-index: 1000;
  background-color: #1F212D;
  padding: 35px;
  transform: translateX(200%);
  transition: transform 0.3s ease 0s;
}
.header .mobile-menu.is-open {
  transform: translateX(0);
}
.header__logom {
  display: flex;
  gap: 5px;
  margin-top: -30px;
}
.header__titlem {
  margin-top: 6px;
  font-family: "DM+Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.header__listm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  background-image: url("/src/images/elipse-menu.png");
  background-repeat: no-repeat;
  background-position: 25% -100%;
  background-size: cover;
}
.header__linkm {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.header__linkm:hover {
  color: #A1B5BA;
  cursor: pointer;
}
.header__underlinem {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  top: 15%;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .header__item {
    display: none;
  }
}
.header__link {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.header__link:hover {
  color: #A1B5BA;
  cursor: pointer;
}
.header__underline {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  bottom: 0;
}

.hero-home {
  background-color: #1F212D;
  padding-top: 50px;
}
.hero-home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .hero-home__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.hero-home__card {
  background-image: url("/src/images/rectangle-desktop@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 426px;
  height: 598px;
  position: relative;
  padding: 32px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-home__card {
    content: url("/src/images/rectangle-desktop@2x.png");
  }
}
@media screen and (max-width: 550px) {
  .hero-home__card {
    width: 335px;
    height: 427px;
  }
}
.hero-home__background {
  position: relative;
  top: 151px;
  left: 31px;
}
.hero-home__list {
  position: absolute;
  left: -20px;
  display: flex;
  flex-direction: row;
}
.hero-home__cltext {
  font-family: "DM+Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #11131F;
  margin-top: 80px;
  margin-left: -10px;
}
.hero-home__Yacht {
  position: absolute;
  top: 225px;
  left: 24px;
}
@media screen and (max-width: 550px) {
  .hero-home__Yacht {
    width: 287px;
    height: 167px;
    top: 165px;
    left: 15px;
  }
}
.hero-home__man {
  position: absolute;
  top: 32px;
  left: 305px;
}
@media screen and (max-width: 550px) {
  .hero-home__man {
    width: 133px;
    height: 133px;
    top: 60px;
    left: 190px;
  }
}
.hero-home__informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  color: #11131F;
  position: absolute;
  top: 468px;
  left: 32px;
}
@media screen and (max-width: 550px) {
  .hero-home__informations {
    top: 340px;
    left: 20px;
  }
}
.hero-home__price {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 550px) {
  .hero-home__price {
    font-size: 48px;
  }
}
.hero-home__information {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  padding-right: 30px;
  margin: 0;
}
@media screen and (max-width: 550px) {
  .hero-home__information {
    font-size: 14px;
  }
}
.hero-home__cta {
  margin-bottom: 20px;
}
@media screen and (min-width: 1010px) and (max-width: 1130px) {
  .hero-home__cta {
    margin-top: 260px;
  }
}
.hero-home__ctitle {
  font-family: "DM+Sans", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 555px;
}
@media screen and (max-width: 768px) {
  .hero-home__ctitle {
    max-width: 700px;
  }
}
@media screen and (max-width: 550px) {
  .hero-home__ctitle {
    font-size: 36px;
    max-width: 335px;
  }
}
.hero-home__ptitle {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-home__ctext {
  max-width: 539px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
}
@media screen and (max-width: 550px) {
  .hero-home__ctext {
    font-size: 14px;
    max-width: 335px;
  }
}
.hero-home__cbuttons {
  display: flex;
  justify-content: row;
  gap: 10px;
}
.hero-home__cbutton {
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 14px 28px;
}
.hero-home__cbutton:hover {
  color: #93abae;
  border-color: #93abae;
}
.hero-home__cbutton:hover .hero-home__links {
  color: #93abae;
}
.hero-home__blue {
  background-color: #93abae;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.hero-home__blue:hover {
  background-color: #88b3b9;
}
.hero-home__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
}
.hero-home__links {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
}
.hero-home__links:hover {
  color: #93abae;
}

.cards-home {
  background-color: #1F212D;
}
.cards-home__wrapper {
  padding-bottom: 165px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.cards-home__card {
  background-color: #2c2f3e;
  border-radius: 5%;
  padding: 20px 20px 25px 20px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.cards-home__card:nth-child(2) .cards-home__top {
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .cards-home__card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .cards-home__card:nth-child(2) {
    display: none;
  }
}
.cards-home__card:hover {
  scale: 1.1;
}
.cards-home__image {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.cards-home__top {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 25px;
}
.cards-home__title {
  font-family: "DM+Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}
.cards-home__text {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}
.cards-home__item {
  display: flex;
  gap: 35px;
}
.cards-home__name {
  font-family: "DM+Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.cards-home__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #fff;
}

.dream-home {
  background-color: #1F212D;
}
.dream-home__wrapper {
  padding-bottom: 500px;
}
.dream-home__list {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.dream-home__item {
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  padding: 10px;
}
.dream-home__item:nth-child(1) {
  margin-left: 350px;
}
.dream-home__item:nth-child(2) {
  margin-top: -250px;
}
@media screen and (max-width: 768px) {
  .dream-home__item:nth-child(1) {
    margin-left: 0;
  }
  .dream-home__item:nth-child(2) {
    margin-top: 0;
  }
  .dream-home__item:nth-child(3) {
    margin-top: 200px;
  }
}
@media screen and (max-width: 680px) {
  .dream-home__item:nth-child(1) {
    margin-left: 0;
    content: url("/src/images/yaht1.formobile-mobile@1x.png");
    width: 95%;
  }
}
@media screen and (max-width: 680px) and (min-device-pixel-ratio: 2), screen and (max-width: 680px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 680px) and (min-resolution: 192dpi), screen and (max-width: 680px) and (min-resolution: 2dppx) {
  .dream-home__item:nth-child(1) {
    content: url("/src/images/yaht1.formobile-mobile@2x.png");
  }
}
@media screen and (max-width: 680px) {
  .dream-home__item:nth-child(2) {
    margin-top: 0;
  }
  .dream-home__item:nth-child(3) {
    margin-top: 0;
    margin-left: 50px;
  }
}
.dream-home__together {
  position: absolute;
  z-index: 1;
  margin-top: -150px;
  margin-left: 150px;
}
@media screen and (max-width: 768px) {
  .dream-home__together {
    margin-top: -100px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 480px) {
  .dream-home__together {
    margin-top: -100px;
    margin-left: 10px;
  }
}
.dream-home__title {
  z-index: 1;
  font-weight: 500;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 880px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .dream-home__title {
    font-size: 70px;
    max-width: 650px;
  }
}
@media screen and (max-width: 480px) {
  .dream-home__title {
    font-size: 36px;
    max-width: 310px;
  }
}
.dream-home__button {
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 14px 28px;
  width: 153px;
  height: 48px;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  z-index: 1;
}
.dream-home__button:hover {
  background-color: #a6bbb9;
  cursor: pointer;
}
.dream-home__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #fff;
}

.introduction-home {
  background-color: #1F212D;
}
.introduction-home__wrapper {
  padding-bottom: 50px;
}
.introduction-home__title {
  font-weight: 500;
  background-color: #fff;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 514px;
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  .introduction-home__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.introduction-home__grey {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introduction-home__white {
  color: #fff;
}
.introduction-home__list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.introduction-home__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 180px;
}
@media screen and (max-width: 480px) {
  .introduction-home__item {
    font-size: 14px;
  }
}

.images-home {
  background-color: #1F212D;
}
.images-home__container {
  width: 100%;
}
.images-home__wrapper {
  padding-bottom: 100px;
}
.images-home__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.images-home__item {
  position: relative;
}
.images-home__item:nth-child(1) {
  width: 612px;
}
.images-home__item:nth-child(2) {
  width: 390px;
  height: 378px;
  top: 150px;
}
.images-home__item:nth-child(3) {
  width: 326px;
  height: 292px;
  left: 330px;
}
@media screen and (max-width: 1120px) {
  .images-home__item:nth-child(1) {
    left: 110px;
  }
  .images-home__item:nth-child(2) {
    top: 0;
  }
  .images-home__item:nth-child(3) {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .images-home__item:nth-child(1) {
    left: 0;
  }
  .images-home__item:nth-child(2) {
    left: 200px;
  }
}
@media screen and (max-width: 660px) {
  .images-home__item:nth-child(1) {
    width: 326px;
  }
  .images-home__item:nth-child(2) {
    width: 326px;
    height: 292px;
    left: 0;
  }
}
.images-home__img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
}
.images-home__button {
  border-radius: 60px;
  padding: 14px 28px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  left: 32px;
  bottom: 32px;
}
.images-home__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #11131F;
}

.rent-home {
  background-color: #1f212d;
  display: flex;
  gap: 188px;
  flex-wrap: wrap;
  padding-bottom: 164px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: "DM Sans", sans-serif;
}
.rent-home__title {
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.04em;
}
.rent-home__image {
  max-width: 100%;
}
.rent-home__block-title {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 282px;
  margin-left: 100px;
}
.rent-home__button {
  display: flex;
  gap: 16px;
  align-items: center;
  border: 1px solid white;
  border-radius: 60px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 14px 28px;
  margin-left: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.rent-home__button:hover {
  background-color: #93abae;
  border: 1px solid black;
  color: #1f212d;
}
.rent-home__input {
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  letter-spacing: -0.04em;
  line-height: 120%;
  width: 443px;
  color: white;
}
.rent-home__input::-moz-placeholder {
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent-home__input::placeholder {
  line-height: 120%;
  letter-spacing: -0.04em;
  color: white;
}
.rent-home__input-comments {
  border-bottom: 1px solid white;
  width: 443px;
  letter-spacing: -0.04em;
  line-height: 120%;
  padding-bottom: 58px;
  color: white;
}
.rent-home__input-comments::-moz-placeholder {
  letter-spacing: -0.04em;
  line-height: 120%;
  color: white;
}
.rent-home__input-comments::placeholder {
  letter-spacing: -0.04em;
  line-height: 120%;
  color: white;
}
.rent-home__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 64px;
  max-width: 63%;
  padding-top: 10px;
}
.rent-home__item {
  max-width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .rent-home {
    display: flex;
    gap: 69px;
    padding-bottom: 100px;
  }
  .rent-home__image {
    width: 271px;
  }
  .rent-home__block-title {
    width: 271px;
    margin-left: 0;
  }
  .rent-home__list {
    width: 364px;
  }
  .rent-home__input {
    width: 170%;
  }
  .rent-home__input-comments {
    width: 170%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) and (max-width: 480px) {
  .rent-home {
    gap: 40px;
  }
  .rent-home__image {
    width: 259px;
  }
  .rent-home__block-title {
    margin-left: 35px;
  }
  .rent-home__title {
    font-size: 40px;
  }
  .rent-home__input, .rent-home__input-comments {
    width: 335px;
  }
  .rent-home__button {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
}
.people-home {
  background-color: #1F212D;
}
.people-home__wrapper {
  padding-top: 100px;
  padding-bottom: 30px;
}
.people-home__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 65px;
}
.people-home__title {
  max-width: 500px;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
}
.people-home__grey {
  font-style: italic;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.people-home__white {
  color: #fff;
}
.people-home__text {
  max-width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
}
.people-home__slides input {
  position: absolute;
  visibility: hidden;
}
.people-home__nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .people-home__nav {
    display: block;
    position: absolute;
    left: 47%;
  }
}
.people-home__bar {
  height: 15px;
  width: 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #2c2f3e;
  border-radius: 70px;
  transition: all 0.4s ease;
}
@media screen and (max-width: 845px) {
  .people-home__bar:nth-child(1) {
    background-color: #93abae;
    transform: scale(1.1);
  }
}
.people-home__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.people-home__item {
  border-radius: 24px;
  padding: 32px;
  width: 384px;
  height: 282px;
  background-color: #292c36;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media screen and (max-width: 768px) {
  .people-home:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .people-home:nth-child(2) {
    display: none;
  }
}
.people-home__img {
  padding-bottom: 15px;
  margin-left: 130px;
}
.people-home__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}
.people-home__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
}
.people-home__bottom {
  display: flex;
  justify-content: end;
  padding-top: 70px;
}
.people-home__button {
  border-radius: 8px;
  background-color: #93ABAE;
}
.people-home__arrow {
  padding: 19px 26px;
}