@import '../base/variables.scss';

.images-home {
  background-color: $darkGreyColor;

  // .images-home__container

   &__container{
    width: 100%;
  }

  // .images-home__wrapper

  &__wrapper {
    padding-bottom: 100px;
  }

  // .images-home__list

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  // .images-home__item

  &__item {
    position: relative;
    &:nth-child(1)  {
      width: 612px;
    }
    &:nth-child(2) {
      width: 390px;
      height: 378px;
      top: 150px;
    }
    &:nth-child(3) {
      width: 326px;
      height: 292px;
      left: 330px;
    }
    @media screen and (max-width: 1120px) {
      &:nth-child(1)  {
        left: 110px;
      }
      &:nth-child(2) {
        top: 0;
      }
      &:nth-child(3) {
        left: 0;
      }
    }

    @media screen and (max-width: $tablet) {
      &:nth-child(1)  {
        left: 0;
      }
      &:nth-child(2) {
        left: 200px;
      }
  }

  @media screen and (max-width: 660px){
    &:nth-child(1)  {
      width: 326px;
    }
    &:nth-child(2) {
      width: 326px;
      height: 292px;
      left: 0;
    }
  }

  }

// .images-home__img

&__img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  border-radius: 10%;
}

// .images-home__button

&__button {
  border-radius: 60px;
  padding: 14px 28px;
  background-color: $whiteColor;
  position: absolute;
  z-index: 1;
  left: 32px;
  bottom: 32px;
}

// .images-home__link

&__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: $darkColor;
}
}
