@import '../base/variables.scss';

.images-home {
  background-color: $darkGreyColor;

  // .images-home__container

  &__container {
  }

  // .images-home__wrapper

  &__wrapper {
    padding-bottom: 50px;
  }

  // .images-home__list

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // .images-home__item

  &__item {
    &:nth-child(1) img {
      width: 612px;
      height: 532px;
    }
    &:nth-child(2) img {
      width: 340px;
      height: 328px;
    }
    &:nth-child(3) img {
      width: 336px;
      height: 252px;
    }

    &:nth-child(3) button {
      width: 148px;
      height: 48px;
    }
    //   @media screen and (max-width: $tablet) {
    //     &:nth-child(2) img {
    //       margin-top: 0;
    //       margin-left: 230px;
    //   }
    //   &:nth-child(2) button {
    //     margin-top: 340px;
    //     margin-left: -380px;
    //   }
    //   &:nth-child(3) img {
    //     margin-left: 0;
    //   width: 436px;
    //   height: 352px;
    // }
  }
}

// .images-home__img

&__img {
  padding: 20px;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

// .images-home__button

&__button {
  border-radius: 60px;
  padding: 14px 28px;
  width: 106px;
  height: 48px;
  background-color: $whiteColor;
  position: absolute;
  z-index: 1;
  bottom: 32px;
  left: 32px;
}

// .images-home__link

&__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: $darkColor;
}
