@import '../base/variables.scss';
.rent-home {
  background-color: #1f212d;
  display: flex;
  gap: 188px;
  flex-wrap: wrap;
  padding-bottom: 164px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: 'DM Sans', sans-serif;
  &__title {
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.04em;
  }
  &__image {
    max-width: 100%;
  }
  &__block-title {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 282px;
    margin-left: 100px;
  }

  &__button {
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid white;
    border-radius: 60px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 28px;
    margin-left: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    &:hover {
      background-color: #93abae;
      border: 1px solid black;
      color: #1f212d;
    }
    img {
      margin-left: 10px;
  }
  &.modal-open { 
    overflow: hidden;
  }
  }

  &__input {
    border-bottom: 1px solid white;
    padding-bottom: 16px;
    letter-spacing: -0.04em;
    line-height: 120%;
    width: 443px;
    color: white;
  }

  &__input::placeholder {
    line-height: 120%;
    letter-spacing: -0.04em;
    color: white;
  }

  &__input-comments {
    border-bottom: 1px solid white;
    width: 443px;
    letter-spacing: -0.04em;
    line-height: 120%;
    padding-bottom: 58px;
    color: white;
  }

  &__input-comments::placeholder {
    letter-spacing: -0.04em;
    line-height: 120%;
    color: white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 64px;
    max-width: 63%;
    padding-top: 10px;
  }
  &__item {
    max-width: 100%;
  }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .rent-home {
    display: flex;
    gap: 69px;
    padding-bottom: 100px;
    &__image {
      width: 271px;
    }

    &__block-title {
      width: 271px;
      margin-left: 0;
    }
    &__list {
      width: 364px;
    }
    &__input {
      width: 170%;
    }

    &__input-comments {
      width: 170%;
    }
  }

  @media screen and (max-width: 480px) {
    .rent-home {
      gap: 40px;
      &__image {
        width: 259px;
      }
      &__block-title {
        margin-left: 35px;
      }

      &__title {
        font-size: 40px;
      }

      &__input,
      &__input-comments {
        width: 335px;
      }
      &__button {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
      }
    }
  }
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 

  &__content {
  
    // position: relative;
    background-color: #1F212D;
border-radius: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 530px;
height: 585px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border: 1px solid #93abae;
width: 570px;
height: 522px;

&.is-hidden {

}
  }

&__close {
  position: absolute;
  top: 20px;
  right: 32px;
  background: none;
  border: none;
  font-size: 24px;
}


&__cinema{
  margin-top: 97px;
}

&__gradient{ 
//   z-index: 2;
  position: absolute;
 top: -10%;
 left: 0;
 border-radius: 100%;
fill: #91afba;
}

&__img {
  width: 338px;
height: 198px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  position: relative;

}

&__block {
  padding-left: 64px;
padding-bottom: 64px;
}

&__title {
  text-align: start;
  padding-bottom: 16px;
  font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
line-height: 120%;
letter-spacing: -0.04em;
}

&__description {
  text-align: start;
  max-width: 442px;
  font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.02em;
}
}