.footer {
  background-color: $darkGreyColor;

  // .footer__container

  &__container {
    display: flex;
    justify-content: space-between;
  }

  // .footer__left

  &__left {
  }

  // .footer__logo

  &__logo {
    display: flex;
    gap: 5px;
  }

  // .footer__title

  &__title {
    margin-top: 6px;
    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
  }

  // .footer__nav

  &__nav {
  }

  // .footer__list

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
  }

  // .footer__item

  &__item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  // .footer__link

  &__link {
    font-family: $mainFontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
  }

  // .footer__right

  &__right {
  }

  // .footer__text

  &__text {
    // font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    text-transform: uppercase;
    color: $whiteColor;
  }

  // .footer__listr

  &__listr {
    display: flex;
    gap: 10px;
  }

  // .footer__itemr

  &__itemr {
  }
}
