@import '../base/variables.scss';

.header {
  background-color: $darkGreyColor;
  // margin-bottom: 100px;
  // .header__container  
  &__container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    display: flex;
    gap: 5px;
  }

  // .header__title

  &__title {
    margin-top: 6px;
    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
  }

  // .header__nav

  &__nav {
  }

  &__input,
  &__label {
    display: none;
  }

  // .header__input

  &__input {
    &:checked {
      ~ .header__label {
        span {
          transform: rotate(-45deg);
          &::before {
            top: 0;
            transform: rotate(0);
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
}
      }

       // .header__label

  &__label {
    @media screen and (max-width: $mobile) {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      margin-left: 0;
      span {
        top: 15px;
        &,
        &::before,
        &::after {
          content: '';
          display: block;
          width: 25px;
          height: 2px;
          background-color: white;
          position: absolute;
          right: 0;
          transition: all 0.3s ease 0s;
        }

        &::before {
          top: -8px;
        }

        &::after {
          top: 8px;
        }
      }
    }
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    @media screen and (max-width: $mobile) {
      display: none;
      
    }
  }

  // .header__item

  &__item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
      background-color: #a6bbb9;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  // .header__link

  &__link {
    font-family: $mainFontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
  }


  // .header__underline

  // &__underline {
  //     margin-bottom: 50px;
  //     width: 100%;
  //     stroke-width: 1px;
  //     stroke: rgba(246, 245, 239, 0.2);
  // }


    }
