@import '../base/variables.scss';

.header {
  background-color: $darkGreyColor;
  // margin-bottom: 100px;
  // .header__container
  &__container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  // .header__logo

  &__logo {
    display: flex;
    gap: 5px;
  }

  // .header__title

  &__title {
    margin-top: 6px;
    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
  }

  // .header__nav

  &__nav {
  }

  
 
  .menu {
    // .menu-toggle

    &-toggle {
      display: none;
      @media screen and (max-width: $mobile) {
        display: flex; // Показуємо SVG при ширині 480px або менше
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        background-color: transparent;

        svg {
          position: absolute;
          left: 85%;
        }
  
        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

.js {
  // .js-open

  &-open {
  }

  // .js-menu

  &-menu {
  }

  // .js-close

  &-close {

  }
}

.mobile {
  // .mobile-menu

  &-menu {
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  z-index: 1000;
  background-color: $darkGreyColor;
  padding: 35px;
  // background-image: url('/src/images/elipse-menu.png');
  // background-repeat: no-repeat;
  // background-position: 25% -100%;
  // background-size: cover;

  transform: translateX(200%);
  transition: transform 0.3s ease 0s;
  &.is-open {
    transform: translateX(0);
  }
}

// .header__logom

&__logom {
  display: flex;
  gap: 5px;
  margin-top: -30px;
}

// .header__titlem

&__titlem {
  margin-top: 6px;
    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
}

  // .header__listm

  &__listm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
    background-image: url('/src/images/elipse-menu.png');
    background-repeat: no-repeat;
    background-position: 25% -100%;
    background-size: cover;
  }

  // .header__items

  &__items {
  }

  // .header__linkm

  &__linkm {
    font-family: $mainFontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover{
      color: #A1B5BA;
      cursor: pointer;
    }
  }
  

		// .header__underlinem

		&__underlinem {
      width: 90%;
      stroke-width: 1px;
      height: 1px;
      background-color: rgba(246, 245, 239, 0.2);
      position: absolute;
      top: 10%;
		}



// .header__list

&__list {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}

// .header__item

&__item {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
// .header__link

&__link {
  font-family: $mainFontFamily;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover{
    color: #A1B5BA;
    cursor: pointer;
  }
}


// .header__underline

&__underline {
  width: 90%;
  stroke-width: 1px;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
  position: absolute;
  bottom: 0;
}
}

