<section class="home__cards cards-home ">
  <div class="cards-home__container container">
    <div class="cards-home__wrapper hidden">
      <div class="cards-home__card">
        <img
          class="cards-home__image"
          src="/src/images/arrow.png"
          alt="arrow"
        />
        <div class="cards-home__top">
          <h4 class="cards-home__title">Arrow</h4>
          <p class="cards-home__text">LUXURY YAHTS</p>
        </div>
        <ul class="cards-home__list">
          <li class="cards-home__item">
            <p class="cards-home__name">LENGTH</p>
            <p class="cards-home__info">48m(155ft)</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILDER</p>
            <p class="cards-home__info">Admiral</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILT</p>
            <p class="cards-home__info">2021</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">GUESTS</p>
            <p class="cards-home__info">11 in 5 cabins</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">PRICE</p>
            <p class="cards-home__info">€33,500,000</p>
          </li>
        </ul>
      </div>
      <div class="cards-home__card">
        <img
          class="cards-home__image"
          src="/src/images/benetti.png"
          alt="arrow"
        />
        <div class="cards-home__top">
          <h4 class="cards-home__title">BENETTI OASIS 40M..</h4>
          <p class="cards-home__text">LUXURY YAHTS</p>
        </div>
        <ul class="cards-home__list">
          <li class="cards-home__item">
            <p class="cards-home__name">LENGTH</p>
            <p class="cards-home__info">41m (133ft)</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILDER</p>
            <p class="cards-home__info">Benetti</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILT</p>
            <p class="cards-home__info">2025</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">GUESTS</p>
            <p class="cards-home__info">10 in 5 cabins</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">PRICE</p>
            <p class="cards-home__info">€23,210,000</p>
          </li>
        </ul>
      </div>
      <div class="cards-home__card">
        <img
          class="cards-home__image"
          src="/src/images/belle.png"
          alt="arrow"
        />
        <div class="cards-home__top">
          <h4 class="cards-home__title">BELLE ANNA</h4>
          <p class="cards-home__text">LUXURY YAHTS</p>
        </div>
        <ul class="cards-home__list">
          <li class="cards-home__item">
            <p class="cards-home__name">LENGTH</p>
            <p class="cards-home__info">50m(155ft)</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILDER</p>
            <p class="cards-home__info">ISA</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">BUILT</p>
            <p class="cards-home__info">2012</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">GUESTS</p>
            <p class="cards-home__info">12 in 6 cabins</p>
          </li>
          <li class="cards-home__item">
            <p class="cards-home__name">PRICE</p>
            <p class="cards-home__info">€21,000,000</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
