<section class="home__dream dream-home">
  <div class="dream-home__container container">
    <div class="dream-home__wrapper">
      <ul class="dream-home__list">
        <li class="dream-home__item">
            <img src="./images/yaht1.png" alt="" />
        </li>
        <li class="dream-home__item">
          <img src="./images/yaht2.png" alt="" />
      </li>
        <li class="dream-home__item">
            <img src="./images/yaht3.png" alt="" />
        </li>
        <!-- <li class="dream-home__item">
            <img src="./images/yaht4.png" alt="" />
        </li> -->
      </ul>
      <!-- <img
        src="/src/images/Ellipse-dream.svg"
        alt=""
        class="dream-home__elipse"
      /> -->
      <div class="dream-home__together">
      <h3 class="dream-home__title">
        Choose your dream yacht and sail away into the sunset
      </h3>
      <buttton class="dream-home__button">
        <a href="#" class="dream-home__link"> Yacht rental </a>
      </buttton>
    </div>
    </div>
  </div>
</section>
