<section class="home__dream dream-home">
    <div class="dream-home__container container">
       <div class="dream-home__wrapper">
        <img src="./images/yaht1.png" alt="">
        <img src="./images/yaht2.png" alt="">
        <img src="./images/yaht3.png" alt="">
        <img src="./images/yaht4.png" alt="">
        <h2 class="dream-home__title">
            Choose your dream yacht and sail away into the sunset
        </h2>
       </div>
       <buttton class="dream-home__button">
        <a href="#" class="dream-home__link">
            Yacht rental
        </a>
       </buttton>
    </div>
</section>