<section class="home__dream dream-home ">
  <div class="dream-home__container container">
    <div class="dream-home__wrapper">
      <ul class="dream-home__list ">
        <!-- <li class="dream-home__item">
          <img src="./images/yaht1.png" alt="" />
            </li> -->
        <li class="dream-home__item">
          <picture>
            <source
              srcset="
                ./images/yaht1-desktop@1x.png 1x,
                ./images/yaht1-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/yaht1-tablet@1x.png 1x,
                ./images/yaht1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/yaht1-mobile@1x.png 1x,
                ./images/yaht1-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/yaht1-desktop@1x.png" alt="yaht1" />
          </picture>
        </li>
        <!-- <li class="dream-home__item">
          <img src="./images/yaht2.png" alt="" />
        </li> -->
        <li class="dream-home__item">
          <picture>
            <source
              srcset="
                ./images/yaht2-desktop@1x.png 1x,
                ./images/yaht2-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/yaht2-tablet@1x.png 1x,
                ./images/yaht2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/yaht2-mobile@1x.png 1x,
                ./images/yaht2-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/yaht2-desktop@1x.png" alt="yaht2" />
          </picture>
        </li>
        <!-- <li class="dream-home__item">
          <img src="./images/yaht3.png" alt="" />
        </li> -->
        <li class="dream-home__item">
          <picture>
            <source
              srcset="
                ./images/yaht3-desktop@1x.png 1x,
                ./images/yaht3-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/yaht3-tablet@1x.png 1x,
                ./images/yaht3-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/yaht3-mobile@1x.png 1x,
                ./images/yaht3-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/yaht3-desktop@1x.png" alt="yaht3" />
          </picture>
        </li>
      </ul>
      <!-- <img
        src="/src/images/Ellipse-dream.svg"
        alt=""
        class="dream-home__elipse"
      /> -->
      <div class="dream-home__together">
        <h3 class="dream-home__title ">
          Choose your dream yacht and sail away into the sunset
        </h3>
        <buttton class="dream-home__button ">
          <a href="#" class="dream-home__link"> Yacht rental </a>
        </buttton>
      </div>
    </div>
  </div>
</section>
