<footer class="footer">
    <div class="footer__container container">
      <div class="block-logo">
        <a href="/" class="footer__link">
          <h1 class="footer__title">YACHT ADVENTURES</h1>
        </a>
      </div>
      <ul class="footer__list">
        <li class="footer__item">ABOUT</li>
        <li class="footer__item">YACHTS</li>
        <li class="footer__item">REVIEWS</li>
      </ul>
      <div class="footer__social-media">
        <h2 class="footer__info">WE IN SOCIAL</h2>
        <ul class="footer__list-social">
          <li class="footer__item-social">
            <div class="footer__border"></div>
          </li>
          <li class="footer__item-social">
            <div class="footer__border"></div>
          </li>
          <li class="footer__item-social">
            <div class="footer__border"></div>
          </li>
        </ul>
      </div>
      <div class="footer__information">
        <p class="footer__description">2024.Yacht Adventures</p>
        <p class="footer__description">Privacy Police</p>
      </div>
    </div>
  </footer>