<section class="home__hero hero-home">
    <div class="hero-home__container container">
      <div class="hero-home__card">
        <div class="hero-home__clients">
          <!-- add "URl" to the img -->
          <img src="#" alt="client 1" />
          <img src="#" alt="client 2" />
          <img src="#" alt="client 3" />
        </div>
        <img src="#" alt="Yacht Image 1" />
        <div class="hero-home__informations">
          <h2 class="hero-home__price">$12M</h2>
          <p class="hero-home__information">
            Book now and make your dream yacht rental a reality
          </p>
        </div>
      </div>
      <!-- cta="call to action" -->
      <div class="hero-home__cta">
        <h2 class="hero-home__cta-title">
          Explore the High Seas with <em>Our Luxury Yacht Rentals </em>
        </h2>
        <p class="hero-home__cta-text">
          Experience the freedom and luxury of yachting on the open seas.
          Choose from our top-of-the-line yachts and embark on an
          unforgettable journey surrounded by breathtaking views and
          state-of-the-art amenities.
        </p>
        <div class="hero-home__cta-buttons">
          <button class="cta__button cta__button--primary">
            Get Started
          </button>
          <button class="cta__button cta__button--secondary">
            Explore
          </button>
        </div>
      </div>
    </div>
  </section>