<section class="home__images images-home">
    <div class="images-home__container container">
        <div class="images-home__wrapper">
            <ul class="images-home__list">
                <li class="images-home__item">
                    <img src="./images/diving.png" alt="" class="images-home__img">
                    <button class="images-home__button">
                        <a href="#" class="images-home__link">Diving</a>
                    </button>
                </li>
                <li class="images-home__item">
                    <img src="./images/fishing.png" alt="" class="images-home__img">
                    <button class="images-home__button">
                        <a href="#" class="images-home__link">Fishing</a>
                    </button>
                </li>
                <li class="images-home__item">
                    <img src="./images/sunbathing.png" alt="" class="images-home__img">
                    <button class="images-home__button">
                        <a href="#" class="images-home__link">Sunbathing</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>