<section class="home__people people-home">
  <div class="people-home__container container">
    <div class="people-home__wrapper">
      <div class="people-home__top">
        <h3 class="people-home__title">
          <span class="people-home__grey">Yacht Adventures</span>
          <span class="people-home__white"
            >take pride in providing the best possible service and experience to
            our customers</span
          >
        </h3>
        <p class="people-home__text">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </div>

      <div class="people-home__slides">
        <ul class="people-home__list">
          <li class="people-home__item">
            <picture>
              <source
                srcset="
                  /src/images/john-desktop@1x.png 1x,
                  /src/images/john-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/john-tablet@1x.png 1x,
                  /src/images/john-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/john-mobile@1x.png 1x,
                  /src/images/john-mobile@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="people-home__img"
                src="/src/images/john-desktop@1x.png"
                alt="john"
              />
            </picture>
            <h2 class="people-home__name">John Wax</h2>
            <p class="people-home__description">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </li>
          <li class="people-home__item">
            <picture>
              <source
                srcset="
                  /src/images/victoria-desktop@1x.png 1x,
                  /src/images/victoria-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/victoria-tablet@1x.png 1x,
                  /src/images/victoria-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/victoria-mobile@1x.png 1x,
                  /src/images/victoria-mobile@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="people-home__img"
                src="/src/images/victoria-desktop@1x.png"
                alt="victoria"
              />
            </picture>
            <h2 class="people-home__name">Victoria Romashenko</h2>
            <p class="people-home__description">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </li>
          <li class="people-home__item">
            <picture>
              <source
                srcset="
                  /src/images/ihor-desktop@1x.png 1x,
                  /src/images/ihor-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/ihor-tablet@1x.png 1x,
                  /src/images/ihor-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/ihor-mobile@1x.png 1x,
                  /src/images/ihor-mobile@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="people-home__img"
                src="/src/images/ihor-desktop@1x.png"
                alt="ihor"
              />
            </picture>
            <h2 class="people-home__name">Ihor Trachuk</h2>
            <p class="people-home__description">
              The Azimut 80 was the most luxurious yacht I've ever been on. The
              cabins were spacious and elegant, and the outdoor areas were
              perfect for relaxing and entertaining. Worth every penny!
            </p>
          </li>
        </ul>
      </div>
      <div class="people-home__bottom">
        <button class="people-home__button">
          <a href="#top">
          <svg class="people-home__arrow  width="16" height="30" viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9.16667L8 0L16 9.16667H9.38564V30H6.61436L6.61436 9.16667H0Z" fill="#F6F5EF" />
          </svg>
        </a>
        </button>
      </div>
    </div>
  </div>
</section>
