<section class="home__rent rent-home ">
  <div class="rent-home__block-title hidden">
    <h2 class="rent-home__title">Rent a yacht now</h2>
    <img
      class="rent-home__image hidden"
      src="/src/images/rent-yaht.png"
      alt="Yaht Rent"
    />
  </div>
  <div class="rent-home__block-inputs">
    <ul class="rent-home__list hidden">
      <li class="rent-home__item">
        <input class="rent-home__input" type="text" placeholder="Full Name" />
      </li>
      <li class="rent-home__item">
        <input class="rent-home__input" type="text" placeholder="Email" />
      </li>
      <li class="rent-home__item">
        <input
          class="rent-home__input"
          type="text"
          placeholder="Phone number"
        />
      </li>
      <li class="rent-home__item">
        <input
          class="rent-home__input-comments"
          type="text"
          placeholder="Comment"
        />
      </li>
    </ul>
    <button class="rent-home__button hidden">
      Send<img src="/src/images/arrow-right.png" alt="Arrow right" />
    </button>
  </div>
</section>
