$mainFontFamily: "DM+Sans", sans-serif;

$whiteColor: #fff;
$beigeColor: #F6F5EF;
$blueColor: #93ABAE;
$darkGreyColor: #1F212D;
$darkColor: #11131F ;

$desktop: 1200px;
$tablet: 768px;
$mobile: 480px;
