@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700,500italic=swap');

//!Base
@import "./base/reset.scss";
@import "./base/variables.scss";

body {
  font-family: $mainFontFamily;
  font-weight: 400;
  font-size: 14px;
  
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduce-motion) {
  .hidden{
    transition: none
  }
}
//!Components
@import "./components/footer.scss";
@import "./components/header.scss";

//!pages
@import "./pages/home.scss";
